<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <nav>
        <a href="/" title="Home">Home</a>
        <a href="/about" title="About">About</a>
        <a href="{% url 'posts:list' %}" title="Posts">Posts</a>
        <a href="{% url 'users:register' %}" title="Register a New User">Register</a>
        <a href="{% url 'users:login' %}" title="Login a New User">Login</a>
        <form class="logout" action="{% url 'users:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>